.root {
    --canvas-width: 600px;
    --canvas-height: 300px;
    --axis-y-width: 50px;
    --grid-gap: 4px;

    display: grid;

    grid-template-rows: var(--canvas-height) min-content min-content min-content;
    grid-template-columns: min-content var(--canvas-width);
    grid-gap: var(--grid-gap);

    width: calc(var(--axis-y-width) + var(--canvas-width) + var(--grid-gap));

    font-family: sans-serif;
}

.axisY {
    grid-row-start: 1;
    grid-column-start: 1;
}

.axisX {
    grid-row-start: 2;
    grid-column-start: 2;
}

.canvas {
    grid-column-start: 2;
    grid-row-start: 1;

    position: relative;
}

.zoom {
    grid-row-start: 3;
    grid-column-start: 2;
}

.canvas > canvas {
    width: 100%;
    height: 100%;
}
