.root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.root--type-horizontal {
    border-top: 1px solid rgba(0,0,0,0.2);
}

.root--type-vertical {
    border-right: 1px solid rgba(0,0,0,0.2);
}

.yLabel {
    display: inline-flex;
    position: absolute;
    font-size: 0.6em;
}

.root--type-vertical .yLabel {
    right: 0;
    padding: 0 4px 0 2px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.root--type-horizontal .yLabel {
    border-bottom: none;
    border-left: 1px solid rgba(0,0,0,0.2);
    padding: 3px 0 0 4px;
}
